@{
    ViewData["Title"] = "Center Manager Page";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor;
@using ExaminationCenter.Models;
@model List<Request>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
                <h1 class="display-4" data-en="Center Manager Page" data-ar="صفحة مدير المركز">Center Manager Page</h1>
            <div class="text-center">

                <table class="table">
                    <thead class="thead-dark" style="background-color: #1D8EA1; color: white;">
                        <tr>
                            <th scope="col" data-en="Order#" data-ar="الرقم التسلسلي">Order#</th>
                            <th scope="col" data-en="Name" data-ar="الاسم">Name</th>
                            <th scope="col" data-en="Date Applied" data-ar="تاريخ التقديم">Date Applied</th>
                            <th scope="col" data-en="Position" data-ar="الموضع">Position</th>
                            <th scope="col" data-en="Status" data-ar="الحالة">Status</th>
                            <th scope="col" data-en="Report" data-ar="تقرير">Report</th>
                            <th scope="col" data-en="Action" data-ar="الإجراء">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1;
                        }
                        @foreach (var req in Model)
                        {
                                string rowColor = "#FFFFFF"; // Default white background
                                if (req.Status == "Accepted")
                                {
                                    rowColor = "#b1efb8"; // Light green for accepted
                                }
                                else if (req.Status == "Rejected")
                                {
                                    rowColor = "#ff6d79"; // Light red for rejected
                                }

                            <tr style="background-color: @rowColor;">
                                <th scope="row">@sno</th>
                                <td>@req.Name</td>
                                <td>@req.DateApplied</td>
                                <td>@req.Position</td>
                                <td>@req.Status</td>
                                <td>
                                    <!-- Add a button to trigger the modal -->
                                    <i class="bi bi-pencil-square text-warning" style="font-size: 1.5em;" onclick="fetchExaminationDetails(@req.Id)"></i>
                                </td>
                                <td>
                                    <a href="/Home/AcceptReq?id=@req.Id" class="btn btn-success me-3" style="padding: 5px 20px; font-size: 18px;" data-en="Accept" data-ar="قبول">Accept</a>
                                    <a href="/Home/RejectReq?id=@req.Id" class="btn btn-danger" style="padding: 5px 20px; font-size: 18px;" data-en="Reject" data-ar="رفض">Reject</a>
                                </td>
                            </tr>
                            sno++;
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>

<!-- User Icon -->
<div class="position-fixed top-0 end-0 m-3">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userModal">
        <i class="bi bi-person-fill"></i>
    </button>
</div>

<!-- User Info Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel" data-en="User Information" data-ar="معلومات المستخدم">User Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p data-en="Name:" data-ar="اسم:">Name:</p>
                <p>@Accessor.HttpContext.Session.GetString("name")</p></<br />
                <p data-en="Role:" data-ar="اسم:">Role:</p>
                <p>@Accessor.HttpContext.Session.GetString("role")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-en="Close" data-ar="إغلاق">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="examinationModal" tabindex="-1" aria-labelledby="examinationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examinationModalLabel">Examination Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="examinationForm">
                    <!-- Form content as provided -->
                    @* <input type="hidden" value="@Accessor.HttpContext.Session.GetString("name")" name="Name" /> *@
                    <div class="d-flex justify-content-between mb-3">
                        <div class="form-group">
                            <label for="bloodType" class="mr-2">Blood type:</label>
                            <select id="bloodType" name="bloodType" class="form-control" style="width: 100px;" readonly>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>

                        @* <span class="mx-3" style="font-size: 40px; font-weight: bold;" name="drName">@Accessor.HttpContext.Session.GetString("name")</span> *@

                    </div>

                    <!-- The rest of your form elements here -->
                    <!-- Set form elements to read-only -->

                    <table class="table table-bordered" style="margin-top: 20px; border: 2px solid black;">
                        <thead>
                            <tr>
                                <th colspan="2" style="border: 2px solid black;">Examination</th>
                                <th style="border: 2px solid black;">Normal</th>
                                <th style="border: 2px solid black;">Abnormal</th>
                                <th style="border: 2px solid black;">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Vision Examination -->
                            <tr>
                                <td rowspan="3" class="vertical-text style=" border: 2px solid black;" narrow-column"><span>Vision Examination</span></td>
                                <td style="border: 2px solid black;">- Rt. eye</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="rt_eye" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="rt_eye" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="rt_eye_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Lt. eye</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="lt_eye" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="lt_eye" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="lt_eye_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Colour discrimination</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="color_disc" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="color_disc" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="color_disc_note" class="form-control no-border-input" /></td>
                            </tr>

                            <!-- Hearing and Speech -->
                            <tr>
                                <td style="border: 2px solid black;" rowspan="3" class="vertical-text"><span>Hearing and speech</span></td>
                                <td style="border: 2px solid black;">- Rt. Ear</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="rt_ear" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="rt_ear" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="rt_ear_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Lt. Ear</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="lt_ear" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="lt_ear" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="lt_ear_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Vocalization</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="vocal" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="vocal" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="vocal_note" class="form-control no-border-input" /></td>
                            </tr>

                            <!-- Other Examination -->
                            <tr>
                                <td style="border: 2px solid black;" rowspan="7" class="vertical-text"><span>Other examination</span></td>
                                <td style="border: 2px solid black;">- B.P</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="bp" value="normal" disabled /></td>
                                <td class="radio-cell"><input type="radio" name="bp" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="bp_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- C.V.S</td>
                                <td style="border: 2px solid black;"  class="radio-cell"><input type="radio" name="cvs" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="cvs" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="cvs_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Resp. S</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="resp" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="resp" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="resp_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- C.N.S</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="cns" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="cns" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="cns_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- G.I.T</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="git" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="git" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="git_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Psychological exam</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="psyc" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="psyc" value="abnormal" disabled /></t>
                                <td style="border: 2px solid black;"><input type="text" name="psyc_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Phy. Disablility "detine"</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="dis" value="normal" disabled /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="dis" value="abnormal" disabled /></td>
                                <td style="border: 2px solid black;"><input type="text" name="dis_note" class="form-control no-border-input" /></td>
                            </tr>
                            <!-- Serological Tests -->
                            <tr>
                                <td style="border: 2px solid black;" rowspan="3" class="vertical-text"><span>Serological Tests</span></td>
                                <td style="border: 2px solid black;">- Viral hepatitis (B) "HBs Ag"</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="hep_b" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="hep_b" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="hep_b_note" class="form-control no-border-input" /></t>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Viral hepatitis (C) "HBs Ag"</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="hep_c" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="hep_c" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="hep_c_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- HIV test</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="hiv" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="hiv" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="hiv" name="hiv_note" class="form-control no-border-input" /></td>
                            </tr>
                            <!-- Lab. & Rad. Examination -->
                            <tr>
                                <td style="border: 2px solid black;" rowspan="9" class="vertical-text"><span>Lab. & Rad. Examination</span></td>
                                <td style="border: 2px solid black;">- Chest X-ray</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="xray" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="xray" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="xray_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Urine Analysis</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="urine" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="urine" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="urine_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- C.B.C</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="cbc" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="cbc" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="cbc_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- L.F.T</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="lft" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="lft" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="lft_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- U&C</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="uc" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="uc" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="uc_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- F.B.S</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="fbs" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="fbs" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="fbs_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Narcotics</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="narcotics" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="narcotics" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="narcotics_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Major Surgical Operations "detine"</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="mso" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="mso" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="mso_note" class="form-control no-border-input" /></td>
                            </tr>
                            <tr>
                                <td style="border: 2px solid black;">- Others "detine"</td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="others" value="normal" hidden /></td>
                                <td style="border: 2px solid black;" class="radio-cell"><input type="radio" name="others" value="abnormal" hidden /></td>
                                <td style="border: 2px solid black;"><input type="text" name="others_note" class="form-control no-border-input" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<script>
        document.addEventListener('DOMContentLoaded', function () {
            function fetchExaminationDetails(userId) {
                if (!userId) {
                    console.error('User ID is not provided');
                    return;
                }

                fetch(`/Home/GetExaminationDetails/${userId}`)
                    .then(response => response.json())
                    .then(data => {
                        const form = document.getElementById('examinationForm');
                        if (!form) {
                            console.error('Form not found');
                            return;
                        }

                        // Populate form fields
                        form.elements["bloodType"].value = data.bloodType;

                        // Example of setting values
                        // Radio buttons
                        const radioCells = form.querySelectorAll('.radio-cell');
                        radioCells.forEach(cell => cell.style.backgroundColor = ''); // Clear previous styles

                        // Update radio button states and colors
                        function setRadioColor(name, value) {
                            const normalRadio = form.querySelector(`input[name="${name}"][value="normal"]`).parentElement;
                            const abnormalRadio = form.querySelector(`input[name="${name}"][value="abnormal"]`).parentElement;

                            if (value === 'normal') {
                                normalRadio.style.backgroundColor = '#d3d3d3';
                            } else if (value === 'abnormal') {
                                abnormalRadio.style.backgroundColor = '#d3d3d3';
                            }
                        }

                        //set radio buttons
                        setRadioColor('rt_eye', data.rt_eye);
                        setRadioColor('lt_eye', data.lt_eye);
                        setRadioColor('color_disc', data.color_disc);
                        setRadioColor('lt_ear', data.lt_ear);
                        setRadioColor('rt_ear', data.rt_ear);
                        setRadioColor('vocal', data.vocal);
                        setRadioColor('bp', data.bp);
                        setRadioColor('cvs', data.cvs);
                        setRadioColor('resp', data.resp);
                        setRadioColor('cns', data.cns);
                        setRadioColor('git', data.git);
                        setRadioColor('psyc', data.psyc);
                        setRadioColor('dis', data.dis);
                        setRadioColor('hep_b', data.hep_b);
                        setRadioColor('hep_c', data.hep_c);
                        setRadioColor('hiv', data.hiv);
                        setRadioColor('xray', data.xray);
                        setRadioColor('urine', data.urine);
                        setRadioColor('cbc', data.cbc);
                        setRadioColor('lft', data.lft);
                        setRadioColor('uc', data.uc);
                        setRadioColor('fbs', data.fbs);
                        setRadioColor('narcotics', data.narcotics);
                        setRadioColor('mso', data.mso);
                        setRadioColor('dis', data.dis);
                    setRadioColor('others', data.others);


                        // Set notes
                    form.elements["rt_eye_note"].value = data.rt_eye_note;
                    form.elements["lt_eye_note"].value = data.lt_eye_note;
                    form.elements["color_disc_note"].value = data.color_disc_note;
                    form.elements["lt_ear_note"].value = data.lt_ear_note;
                    form.elements["rt_ear_note"].value = data.rt_ear_note;
                    form.elements["vocal_note"].value = data.vocal_note;
                    form.elements["bp_note"].value = data.bp_note;
                    form.elements["cvs_note"].value = data.cvs_note;
                    form.elements["resp_note"].value = data.resp_note;
                    form.elements["cns_note"].value = data.cns_note;
                    form.elements["git_note"].value = data.git_note;
                    form.elements["psyc_note"].value = data.psyc_note;
                    form.elements["dis_note"].value = data.dis_note;
                    form.elements["hep_b_note"].value = data.hep_b_note;
                    form.elements["hep_c_note"].value = data.hep_c_note;
                    form.elements["hiv_note"].value = data.hiv_note;
                    form.elements["xray_note"].value = data.xray_note;
                    form.elements["urine_note"].value = data.urine_note;
                    form.elements["cbc_note"].value = data.cbc_note;
                    form.elements["lft_note"].value = data.lft_note;
                    form.elements["uc_note"].value = data.uc_note;
                    form.elements["fbs_note"].value = data.fbs_note;
                    form.elements["narcotics_note"].value = data.narcotics_note;
                    form.elements["mso_note"].value = data.mso_note;
                    form.elements["others_note"].value = data.others_note;

                    //form.elements["drName"].value = data.Name;

                        // Open the modal
                        var examinationModal = new bootstrap.Modal(document.getElementById('examinationModal'), {});
                        examinationModal.show();
                    })
                    .catch(error => console.error('Error fetching examination details:', error));
            }

            window.fetchExaminationDetails = fetchExaminationDetails;
        });




    document.querySelectorAll('.radio-cell').forEach(cell => {
        cell.addEventListener('click', function () {
            let input = this.querySelector('input[type="radio"]');
            input.checked = true;

            // Ensure only one cell is selected per row
            let siblings = this.parentNode.querySelectorAll('.radio-cell');
            siblings.forEach(sibling => {
                sibling.classList.remove('selected');
            });
            this.classList.add('selected');
        });
    });

</script>

<style>
 

    .radio-cell {
        cursor: pointer;
        position: relative;
        text-align: center;
        width: 100px;
    }

        .radio-cell input[type="radio"] {
            display: none;
        }

        .radio-cell.selected {
            background-color: #d3d3d3; /* Change color when selected */
        }

    .narrow-column {
        width: 50px; /* Adjust the width as needed */
        max-width: 50px; /* Ensure it doesn't exceed this width */
        text-align: center;
        overflow: hidden; /* Prevent overflow */
    }

    .vertical-text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
    }

    .no-border-input {
        border: none;
        box-shadow: none; /* Remove the box-shadow if it has any */
    }

    .table td {
        padding: 5px; /* Adjust the padding to reduce height */
        line-height: 1; /* Adjust the line height to reduce the cell height */
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-dialog {
        max-width: 80%; /* Adjust the percentage as needed */
        width: auto; /* Allow width to be auto */
    }
</style>

