@{
    ViewData["Title"] = "Examination Center Page";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor;
@using ExaminationCenter.Models;
@model List<Request>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4" data-en="Examination Center" data-ar="مركز الامتحانات">Examination Center</h1>
            <div class="text-center">
                <form method="get" asp-controller="Home" asp-action="ExaminationCenter">
                    <div class="input-group mb-3">
                        <input type="text" id="searchTB" name="searchText" class="form-control" placeholder="Search Name" aria-label="Recipient's username" aria-describedby="basic-addon2" data-en="Search Name" data-ar="ابحث بالاسم">
                        <div class="input-group-append">
                            <button id="searchBtn" class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead class="thead-dark" style="background-color: #1D8EA1; color: white;">
                        <tr>
                            <th scope="col" data-en="Order#" data-ar="رقم">Order#</th>
                            <th scope="col" data-en="Name" data-ar="الاسم">Name</th>
                            <th scope="col" data-en="Date Applied" data-ar="تاريخ التقديم">Date Applied</th>
                            <th scope="col" data-en="Position" data-ar="المنصب">Position</th>
                            <th scope="col" data-en="Present/Absent" data-ar="حاضر/غائب">Present/Absent</th>
                            <th scope="col" data-en="Time of Attendance" data-ar="وقت الحضور">Time of Attendance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1;
                        }
                        @if (ViewBag.Message == null)
                        {
                            @foreach (var req in Model)
                            {
                                string rowColor = "";
                                string checkStatus = "";

                                if (req.AttendendeStatus == true)
                                {
                                    rowColor = "background-color: #b1efb8;";
                                    checkStatus = "checked";
                                }
                                else if (req.AttendendeStatus == false)
                                {
                                    rowColor = "background-color: #ff6d79;";
                                }

                                <tr style="@rowColor">
                                    <th scope="row">@sno</th>
                                    <td>@req.Name</td>
                                    <td>@req.DateApplied</td>
                                    <td>@req.Position</td>
                                    <td>
                                        <input type="checkbox" class="attendance-checkbox" data-id="@req.Id" @checkStatus onchange="updateAttendanceStatus(this.checked, @req.Id)" />
                                    </td>
                                    @if(req.AttendenceTime != null)
                                    {
                                        <td>@req.AttendenceTime</td>
                                    }
                                    else{

                                        <td>--</td>
                                        }
                                    </tr>
                                sno++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center text-danger" style="background-color: #f8d7da; padding: 20px; font-size: 18px;">
                                    @ViewBag.Message
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- User Icon -->
<div class="position-fixed top-0 end-0 m-3">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userModal">
        <i class="bi bi-person-fill"></i>
    </button>
</div>

<!-- User Info Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel" data-en="User Information" data-ar="معلومات المستخدم">User Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p data-en="Name:" data-ar="الاسم:">Name:</p>
                <p>@Accessor.HttpContext.Session.GetString("name")</p>
                <p data-en="Role:" data-ar="الدور:">Role:</p>
                <p>@Accessor.HttpContext.Session.GetString("role")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-en="Close" data-ar="إغلاق">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Get the input field
    var input = document.getElementById("searchTB");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("searchBtn").click();
        }
    });

    function updateAttendanceStatus(isChecked, id) {
        fetch('/Home/UpdateAttendanceStatus', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ AttendanceStatus: isChecked, Id: id })
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Failed to update attendance status.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while updating attendance status.');
            });
    }

</script>
