@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor;
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img src="~/img/logo.jpeg" width="80" height="50" class="d-inline-block align-top" alt="">
                </a>
                <div class="d-flex align-items-center mb-3">
                    <label class="me-2" for="languageToggle" style="color:#0d6efd">English</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="languageToggle" onclick="toggleLanguage()">
                    </div>
                    <label class="ms-2" for="languageToggle" style="color:#0d6efd">العربية</label>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    @if (Accessor.HttpContext.Session.GetString("role") == "Candidate")
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home")" class="nav-link align-middle px-0 @(currentAction == "Index" ? "active" : "")" style="width: 200px">
                                <i class="fs-4 bi-house" style="margin-left:5px"></i> <span class="ms-1 d-none d-sm-inline" data-en="Candidate" data-ar="مرشح">Candidate</span>
                            </a>
                        </li>
                    }
                    @if (Accessor.HttpContext.Session.GetString("role") == "Examination Center")
                    {
                        <li>
                            <a href="@Url.Action("ExaminationCenter","Home")" class="nav-link px-0 align-middle @(currentAction == "ExaminationCenter" ? "active" : "")" style="width: 200px">
                                <i class="fs-4 bi-speedometer2" style="margin-left:5px"></i> <span class="ms-1 d-none d-sm-inline" data-en="Examination Center" data-ar="مركز الامتحانات">Examination Center</span>
                            </a>
                        </li>
                        
                    }
                    @if (Accessor.HttpContext.Session.GetString("role") == "Candidate" || Accessor.HttpContext.Session.GetString("role") == "Examination Center")
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("RequestDetails","Home")" class="nav-link align-middle px-0 @(currentAction == "RequestDetails" ? "active" : "")" style="width: 200px">
                                <i class="fs-4 bi-table" style="margin-left:5px"></i> <span class="ms-1 d-none d-sm-inline" data-en="Details" data-ar="مرشح">Details</span>
                            </a>
                        </li>
                    }
                    @if (Accessor.HttpContext.Session.GetString("role") == "Doctor")
                    {
                        <li>
                            <a href="@Url.Action("ExaminationPage","Home")" class="nav-link px-0 align-middle @(currentAction == "ExaminationPage" ? "active" : "")" style="width: 200px">
                                <i class="fs-4 bi-table" style="margin-left:5px"></i> <span class="ms-1 d-none d-sm-inline" data-en="Examination Page" data-ar="صفحة الامتحان">Examination Page</span>
                            </a>
                        </li>
                    }
                    @if (Accessor.HttpContext.Session.GetString("role") == "Center Director")
                    {
                        <li>
                            <a href="@Url.Action("CenterManagerPage","Home")" class="nav-link px-0 align-middle @(currentAction == "CenterManagerPage" ? "active" : "")" style="width: 200px">
                                <i class="fs-4 bi-grid" style="margin-left:5px"></i> <span class="ms-1 d-none d-sm-inline" data-en="Center Manager Page" data-ar="صفحة مدير المركز">Center Manager Page</span>
                            </a>
                        </li>                        
                    }
                    <li>
                        <a href="@Url.Action("Logout","Login")" class="nav-link px-0 align-middle @(currentAction == "Logout" ? "active" : "")" style="width: 200px">
                            <i class="fs-4 bi-box-arrow-left" style="margin-left:5px"></i> <span class="ms-1 d-none d-sm-inline" data-en="Logout" data-ar="تسجيل خروج">Logout</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            @RenderBody()
        </div>
    </div>
</div>

<script>
    function toggleLanguage() {
        var toggle = document.getElementById("languageToggle");
        var labels = document.querySelectorAll("[data-en]");
        if (toggle.checked) {
            labels.forEach(function (label) {
                label.textContent = label.getAttribute("data-ar");
            });
            localStorage.setItem('language', 'ar');
        } else {
            labels.forEach(function (label) {
                label.textContent = label.getAttribute("data-en");
            });
            localStorage.setItem('language', 'en');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        var toggle = document.getElementById("languageToggle");

        // Retrieve the language setting from localStorage
        var language = localStorage.getItem('language');
        if (language === 'ar') {
            toggle.checked = true;
        } else {
            toggle.checked = false;
        }

        toggleLanguage(); // Initial call to set the correct language on page load

        toggle.addEventListener('change', toggleLanguage);
    });
</script>
<style>
    .nav-link.active {
        background-color: #0d6efd;
        color: white !important;
    }
</style>
